input {
  font-size: 0.813rem;
  padding: 0.625rem 0.625rem 0.625rem 0.313rem;
  display: block;
  width: 17.5rem;
  border: 0;
  border-bottom: 1px solid var(--color-primary);
  outline: none;
  background: transparent;
}
input.invalid {
  color: var(--color-error);
  border-bottom: 1px solid var(--color-error);
}
input:focus {
  outline: none;
  border: 0;
}
input:focus ~ label,
input:valid ~ label {
  top: -7px;
  font-size: 9px;
  color: #4285f4;
  border: 0;
  outline: none;
}
input:disabled ~ label {
  top: -0.438rem;
  font-size: 0.563rem;
  color: black;
  border: 0;
  outline: none;
}
input:disabled {
  border-bottom: 0.063rem solid var(--color-border);
}
input:focus ~ .input_bar:before,
input:focus ~ .input_bar:after {
  width: 50%;
  border: 0;
  outline: none;
}
