.input_group {
  position: relative;
  margin: 1rem 0;
}
input {
  font-size: 0.813rem;
  padding: 0.625rem 0.625rem 0.625rem 0.313rem;
  display: block;
  width: 17.5rem;
  border: 0;
  border-bottom: 1px solid var(--color-primary);
  outline: none;
  background: transparent;
}
input:focus {
  outline: none;
  border: 0;
}
label {
  color: var(--color-text-secondary);
  font-size: 0.813rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0.313rem;
  top: 0.625rem;
  transition: 0.2s ease all;
}
input:focus ~ label,
input:valid ~ label {
  top: -7px;
  font-size: 9px;
  color: #4285f4;
  border: 0;
  outline: none;
}
input:disabled ~ label {
  top: -0.438rem;
  font-size: 0.563rem;
  color: black;
  border: 0;
  outline: none;
}
input:disabled {
  border-bottom: 0.063rem solid var(--color-border);
}
.input_bar {
  position: relative;
  display: block;
  width: 17.5rem;
}
.input_bar:before,
.input_bar:after {
  content: '';
  height: 0.125rem;
  width: 0;
  bottom: 0.063rem;
  position: absolute;
  background: var(--color-primary);
  transition: 0.2s ease all;
}
.input_bar:before {
  left: 50%;
}
.input_bar:after {
  right: 50%;
}
input:focus ~ .input_bar:before,
input:focus ~ .input_bar:after {
  width: 50%;
  border: 0;
  outline: none;
}
.input_highlight {
  position: absolute;
  height: 60%;
  width: 6.25rem;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
input:focus ~ .input_highlight {
  animation: input-highlight 0.3s ease;
}

/* animations */
@keyframes input-highlight {
  from {
    background: var(--color-primary);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes input-highlight {
  from {
    background: var(--color-primary);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes input-highlight {
  from {
    background: var(--color-primary);
  }
  to {
    width: 0;
    background: transparent;
  }
}
