---
id: "root"
---
<html>
  <head>
    {{!-- <script src='src/index.js' type='module'></script> --}}
  </head>
  <body>
    <div id='{{ id }}'>HELLO WORLD {{ id }} </div>
    <div>
      <a href="/404">404 Page</a>
      <a href="/500">500 Page</a>
    </div>
  </body>
</html>   
</body>
</html>