---
id: "root"
---
<html>
  <head>
    {{!-- <script src='src/index.js' type='module'></script> --}}
  </head>
  <body>
    <div id='{{ id }}'>HELLO WORLD {{ id }} </div>
  </body>
</html>
    
</body>
</html>