.password_form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg-primary);
}
.profile_buttons {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 3.125rem;
}
