.profile_container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.profile_avatar {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.profile_buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
.profile_backblock {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 64px;
  background-color: #fbfbfb;
  top: 0;
  bottom: 0;
}
.profile_back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #3369f3;
}
